<html lang="it" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Pc Builder</title>
</head>
<body>
  <fieldset style="background-color:#90ee90; width:98%; height:40%; margin: auto; text-align: center;">

    <img  style=" width:50%; height:50%; float:left;" src="logo.jpg">
    <form method='GET' action=''>


      <button name="button">PRENOTA</button>
    </form>

</fieldset>
</body>
</html>
