<html>
<head>
  <title>Ordini in arrivo</title>
</head>
<body style="background-color: #B9B9B9;">
<center>
 <br>
  <fieldset style="width:40%;">

    <%






    %>

  </table>



    ?>
  </fieldset>
  <br>
  </center>
</body>
</html>