<html lang="it" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Pc Builder</title>
<link rel="stylesheet" href="css/style.css">
<title>barra</title>
  </head>
  <body>
    <header>
        <div class="container">
            <h1 class="logo"></h1>

<img src="logo/logo.png" alt="logo" class="logo">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">componenti</a></li>

              <li><a href="#">assistenza</a></li>
              <li><a href="#">carrello</a></li>

              <li><a href="#">user</a></li>

            </ul>
          </nav>
        </div>
      </header>
    <form method='GET' action=''>

      <div class="wrapper">
        <div class="One">One

<a href="https://www.youtube.com"><img src="logo/img.png" width="317" height="415" alt="HTML tutorial></a>
        </div>
        <div class="Two">Two
<img src="logo/img.png" alt="img" class="img" width="317" height="415">
        </div>





        <div class="One">Three
        </div>
        <div class="One">Four

        <div class="5">Five</div>
        <div class="6">Six</div>
      </div>

    </form>
    </fieldset>

  </body>
  </html>
