@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {

    margin: 0;
    background: #B9B9B9;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}
.logo {
    margin-top: 7px;
    float: left;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: 70px;
    width: 70px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: #131313;
    height: 100px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


nav {
    float: right;
    padding-top:20px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}

nav ul {
    margin: 0%;
    padding: 1%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;

    position: relative;
}

nav a {
    color: #C8C8C8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

nav a:hover {
    color: #DAD9D9;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #1A5635;

    position: absolute;
    top: 35px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.verde{
    width: 340px;
    height: 500px;
    background: #1A5635;
    background-color: #1A5635;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 40px;
}

.loginbox{
    width: 300px;
    height: 460px;
    background: #2C2F2D;
    background-color: #2C2F2D;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 40px;
    padding-left: 3%;
}

h1{
    padding-left: 3%;
    font-size: 25px;
    margin-bottom: 25px ;
}

.loginbox p{
    padding-left: 1%;
    margin: 1%;
    padding: 0px;
    front-weight: bold;
}

.loginbox input{
    height: 40px;
    width: 75%;
    margin-bottom: 10px;
    background: #1A5635;
    color: #ffffff;
    border-radius: 40px;
    border: 0px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    color: #ffffff;
    background-color: #1A5635;
    border-radius: 40px;
    border-bottom: 1px;
    padding-left: 4%;
    height: 40px;
}
.loghinbox input[type="submit"]
{
    outline: none;
    height: 40px;
    color: #FFFFFF;
    width: 75%;

}