<body>

<div class="CartContainer">
  <div class="Header">
    <h3 class="Heading">Carrello</h3>
    <h5 class="Action">Remove all</h5>
  </div>

  <div class="Items">
    <div class="image-box">
      <img src="geforce_rtx_3060_ti_product_gallery_full_screen_3840_1_bl.jpg" style="height: 70px;"/>
    </div>
    <div class="ciao">
      <p>Pezzo 1<p>


    </div>
    <div class="counter">
      <div class="btn">+</div>
      <div class="count">1</div>
      <div class="btn">-</div>
    </div>
    <div class="prices">
      <div class="amount">€€€</div>

      <div class="remove"><u>Remove</u></div>
    </div>
  </div>
  <hr>
  <div class="checkout">
    <div class="total">
      <div>
        <div class="Subtotal">Totale</div>
        <div class="items"> items</div>
      </div>
      <div class="total-amount"> €€€</div>
    </div>
    <button class="button">Checkout</button></div>
</div>
</body>
</html>