<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="home.css">
  <title>barra</title>
</head>

<header>
  <div class="container">
    <h1 class="logo"></h1>
    <img style="width:6%; height:5%;  float:left;  padding-top: 30px; padding-right:10px; padding-bottom: 10px; padding-left: 10px;"  src="/logo.jpg"/>

    <nav>
      <ul>
        <li><a href="/sito/Home">Home</a></li>
        <li><a href="/sito/Login">user</a></li>
      </ul>
    </nav>
  </div>
</header>

<link rel="stylesheet" type="text/css" href="home.css">

<body>








<% for n in  0..23 %>
  <br>
<% end %>

<footer style="background-color:#131313; height:10%; margin: auto; text-align: center; width: 100%; ">
  <br>

  <p style="alignment: center; color:#F7F7F7  ">Authors : Matteo Gramazio , Luca Di napoli , Manuel Michelini<p>
  <br>
</footer>

</body>
</html>