<html lang="it" xmlns="">
<head>
  <title>Pc Builder</title>
  <link rel="stylesheet" href="home.css">
  <title>barra</title>
</head>
<body>
<header>
  <div class="container">
    <h1 class="logo"></h1>
    <img src="/logo.png" alt="logo" class="logo">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">componenti</a></li>
        <li><a href="#">assistenza</a></li>
        <li><a href="#">carrello</a></li>
        <li><a href="#">user</a></li>

      </ul>
    </nav>
  </div>
</header>
<form method='GET' action=''>

  <div class="wrapper">

    <div class="One">1
      <a href="https://www.youtube.com"><img src="img.png" width="317" height="415" alt="HTML tutorial" ></a>
        </div>
        <div class="Two">2
        <img src="/img.png" alt="img" class="img" width="317" height="415">
    </div>
    <div class="Three">3
      <img src="/img.png" alt="img" class="img" width="317" height="415">
    </div>
    <div class="Four">4
      <img src="/img.png" alt="img" class="img" width="317" height="415">
    </div>
    <div class="Five">5
      <img src="/img.png" alt="img" class="img" width="317" height="415">
    </div>
    <div class="Six">6
      <img src="/img.png" alt="img" class="img" width="317" height="415">
    </div>

  </div>
</form>
</fieldset>

</body>
</html>
