<html>
<head>
  <title>Pc Builder</title>
  <link rel="stylesheet" href="login.css">
  <title>barra</title>
</head>

<header>
  <div class="container">
    <h1 class="logo"></h1>

    <img src="logo/logo.png" alt="logo" class="logo">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">componenti</a></li>

        <li><a href="#">assistenza</a></li>
        <li><a href="#">carrello</a></li>

        <li><a href="#">user</a></li>

      </ul>
    </nav>
  </div>
</header>

<title>login</title>
<link rel="stylesheet" type="text/css" href="login.css">

<body>

<div class="verde">
</div>

<div class="loginbox">
  <h1>login</h1>
  <form>
    <p>Username</p>
    <input type="text" name="" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" name="" placeholder="Enter Password">
    <input type="submit" name="" value="Login">
    <a href="#">password dimenticata</a><br>
    <a href="#">sing in?</a>
  </form>
</div>

</body>
</head>
</html>