<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="reg.css">
  <title>barra</title>
</head>

<header>
  <div class="container">
    <h1 class="logo"></h1>
    <img style="width:6%; height:5%;  float:left;  padding-top: 30px; padding-right:10px; padding-bottom: 20px; padding-left: 10px;"  src="/logo.png"/>

    <nav>
      <ul>
        <li><a href="/sito/Home">Home</a></li>
        <li><a href="/sito/Login">user</a></li>
      </ul>
    </nav>
  </div>
</header>

<link rel="stylesheet" type="text/css" href="reg.css">

<body>

<div class="verde">
</div>
<div class="loginbox">
  <h1>Register</h1>
  <form method='GET' action=''  >
    <p>Username</p>
    <input type="text" placeholder="Enter Username" id="nome" name="name">
    <p>Password</p>
    <input type="password" placeholder="Enter Password" id="pass" name="pass">
    <p> Email</p>
    <input type="email" placeholder="Enter Email" id="email" name="email">
    <input type="submit"  name="log" id="log" value="Login">
    <br>
    <a href="/sito/Registrazione"  style="font-family: 'Work Sans', sans-serif; color:#36B7E8FF; font-weight: 300; ">Sign in?</a>
  </form>
</div>
<%

  $b= request.original_url
  require 'cgi'
  $url = CGI.parse($b)

  $email=$url["http://127.0.0.1:3000/sito/Registrazione?email"]
  $nome=$url["name"]
  $pass=$url["pass"]
  $reg=$url["reg"]
  $nome=$nome.first
  $pass=$pass.first
  $email=$email.first
  $reg=$reg.first

    if $reg=="Reg"

      require 'sqlite3'
      db = SQLite3::Database.open('Data.db')
      db.results_as_hash = true

      $riga = db.execute("INSERT INTO Login (Nome, Password, Email)
VALUES ('#$nome', '#$pass', '#$email')")

    end


%>









</body>
</html>